enabled=B"true"
changePasswordURL="/trangchu?p_p_id=com_liferay_login_web_portlet_LoginPortlet&p_p_lifecycle=0&p_p_state=maximized&_com_liferay_login_web_portlet_LoginPortlet_mvcRenderCommandName=%2Flogin%2Fforgot_password"
includeOmniAdmin=B"false"
checkOnEveryRequest=B"true"
logDeniedNavigation=B"true"
excludedPathPatterns=["/combo","/c/portal/extend_session","/c/portal/extend_session_confirm","/c/portal/login","/c/portal/logout","/documents/*","/image/*","*.css","*.js","*.map","*.png","*.jpg","*.jpeg","*.gif","*.svg","*.ico","*.woff","*.woff2","*.ttf","*.eot","*.otf"]
